.flows.json.backup
[
    {
        "id": "16779de302cf9907",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4cf24073b2ca22de",
        "type": "freshdeskCredentials",
        "name": "",
        "domain": "sdf",
        "apiKey": "ben"
    },
    {
        "id": "4b70595fc25c05e6",
        "type": "inject",
        "z": "16779de302cf9907",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 160,
        "wires": [
            [
                "9ad737848af0ade8"
            ]
        ]
    },
    {
        "id": "9c2e1762dfc46940",
        "type": "debug",
        "z": "16779de302cf9907",
        "name": "debug1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 200,
        "wires": []
    },
    {
        "id": "e94d5dcb2c6b6966",
        "type": "http in",
        "z": "16779de302cf9907",
        "name": "",
        "url": "testTwo",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 280,
        "wires": [
            [
                "9ad737848af0ade8"
            ]
        ]
    },
    {
        "id": "01bfeaace13dd499",
        "type": "http response",
        "z": "16779de302cf9907",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 610,
        "y": 280,
        "wires": []
    },
    {
        "id": "9ad737848af0ade8",
        "type": "template",
        "z": "16779de302cf9907",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !",
        "output": "str",
        "x": 420,
        "y": 280,
        "wires": [
            [
                "9c2e1762dfc46940",
                "01bfeaace13dd499"
            ]
        ]
    },
    {
        "id": "fafafa85daf6ec51",
        "type": "trigger",
        "z": "16779de302cf9907",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 280,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "0c87924b10a961b2",
        "type": "delay",
        "z": "16779de302cf9907",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 250,
        "y": 400,
        "wires": [
            []
        ]
    }
]