flows.json
[
    {
        "id": "16779de302cf9907",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4b70595fc25c05e6",
        "type": "inject",
        "z": "16779de302cf9907",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 200,
        "wires": [
            [
                "9ad737848af0ade8"
            ]
        ]
    },
    {
        "id": "9c2e1762dfc46940",
        "type": "debug",
        "z": "16779de302cf9907",
        "name": "debug1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 200,
        "wires": []
    },
    {
        "id": "e94d5dcb2c6b6966",
        "type": "http in",
        "z": "16779de302cf9907",
        "name": "",
        "url": "testTwo",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 280,
        "wires": [
            [
                "9ad737848af0ade8"
            ]
        ]
    },
    {
        "id": "01bfeaace13dd499",
        "type": "http response",
        "z": "16779de302cf9907",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 610,
        "y": 280,
        "wires": []
    },
    {
        "id": "9ad737848af0ade8",
        "type": "template",
        "z": "16779de302cf9907",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !",
        "output": "str",
        "x": 420,
        "y": 280,
        "wires": [
            [
                "9c2e1762dfc46940",
                "01bfeaace13dd499"
            ]
        ]
    }
]